{
    "presets": [
        [
            "env",
            {
                "targets": {
                    "chrome": 20
                }
            }
        ],
        "react",
        "stage-0"
    ],
    "plugins": [
        "transform-decorators-legacy",
        [
            "import",
            {
                "libraryName": "antd",
                "style": true
            }
        ]
    ]
}