
// 登录
@border: 1px solid #ccc;
.login-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  .login-content {
    width: 350px;
    border: @border;
    border-radius: 5px;
    padding: 1em 1em 0 1em;
    h2 {
      text-align: center;
      font-weight: bold;
      letter-spacing: .6em;
      font-size: 32px;
      color: rgba(0, 0, 0, 0.65);
    }
    .login-form {
      .login-form-forgot {
        float: right;
      }
      .login-form-button {
        width: 100%;
      }
    }
  }
}