// 基础样式
@import 'theme/index';

// css modules 全局
:global {

  html,
  body,
  #root {
    height: 100%;
  }

  * {
    box-sizing: border-box;
  }

  canvas {
    display: block;
  }

  body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  ul,
  ol {
    list-style: none;
  }

  // 自定义icon
  .qqbicon {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: transparent;
    background-image: url(../resource/image/icon/module.png);
    background-repeat: no-repeat;
    background-position: center center;
  }


  // 收缩控制器
  .qqbicon-navcontrol {
    background-image: url(../resource/image/icon/navcontrol.png);
  }


  .main-wrap {
    height: 100%;
  }

  .main-body {
    height: calc(100% - @header-height);
    display: flex;
    flex-direction: row;
  }

  .main-body-content {
    flex-grow: 1;
    overflow: hidden;
  }

  .transform-show :local {
    animation-name: circleShow;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
  }

  @keyframes circleShow {
    0% {
      clip-path: circle(0);
    }


    100% {
      clip-path: circle(100%);
    }
  }
}