
@font-size:16px;
@border:1px solid #ccc;
@header-height:64px;

#root{
    height: 100%;
}
.main-wrap{
    height: 100%;
    display: flex;
    flex-direction: column;
    .main-header{
        height: @header-height;
        border-bottom: @border;
        line-height: @header-height;
        text-align: center;
    }
    .main-body{
        flex: auto;
        display: flex;
        .main-body-left{
            width: 128px;
            border-right: @border;
            ul{
                list-style: none;
                li{
                    word-wrap: break-word;
                }
            }
        }
        .main-body-content{
            flex: auto;
            padding: 1em;
        }
    }
}



.nofound-wrap{
    text-align: center;
}

.nav-wrap{
    .img-wrap{
        
    }
}